*{
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header
{
    background-color: #ffb885;
    padding-top: 50px;
} 
nav
{
    width: 71%;
    max-width: 1140px;
    border: 0px solid black;
}